.App {
  text-align: center;
  background-image: url("https://images2.alphacoders.com/247/247890.jpg");

  background-attachment:scroll;
  background-size:cover;

  
  min-height: 100vh;
  height: max-content;
}
ul{
  list-style: none;
  padding: 0;
}

@media (max-width : 1000px){
  .App{
      background-attachment:fixed;

  }
}

h5{
font-size: 0.8rem;  
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

select { 
  background-color: #ffffffd9; 
  color: #000000;  
  padding: 0 !important;  
   
  border-radius: 6px; 
  outline: none; 
  transition: all 0.4s ease-in-out; 
} 

